.order-success-container {
  padding: 30px 300px;
}
.order-success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  transition: all 0.5s ease;
  height: 60vh;
  background-color: rgba(255, 255, 255, 0.834);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.549);
  border-radius: 7px;
}

.order-success p {
  font-size: 15px;
  margin-top: 30px;
}

.order-success a {
  color: #b16132;
}

.order-success h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.order-success h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

.orders-container {
  max-width: 1200px;
  margin: 10px auto;
}

.orders-container p {
  font-size: 20px;
}

.orders-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.orders-container li {
  display: flex;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.834);
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  justify-content: space-between;
  transition: all 0.5s ease; /* add an ease animation to all properties */
}

.orders-container li:hover {
  background-color: rgba(255, 255, 255, 0.834);
  cursor: pointer;
  border: 1px solid #2858b7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* add a shadow outside the li:hover */
}

.orders-container li div {
  display: flex;
  flex-direction: column;
}

.orders-container p {
  margin: 0;
  padding: 5px;
}

.payment-proof-img {
  cursor: pointer;
  max-width: 180px;
  max-height: 180px;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.payment-proof-img:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.549);
}

.modal2 {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content2 {
  max-width: 400px;
  max-height: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-image2 {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  object-fit: contain;
}

.order-container {
  max-width: 1200px;
  margin: 10px auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.order-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.order-container h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.order-container p {
  margin: 0;
  font-size: 18px;
}

.order-container .order-item {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.order-details {
  display: flex;
  justify-content: space-between;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 10px;
}

.order-details div {
  display: flex;
  flex-direction: column;
}

.order-container .h3-2 {
  font-size: 18px;
  margin: 10px 0;
}

.order-details-2 {
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 20px;
}

.Ordered-Item-Container {
  display: flex;
  margin: 5px 0;
  justify-content: space-between;
  flex-direction: column;
}

.Ordered-Item-Name {
  display: flex;
  justify-content: space-between;
}

.update-status-button {
  background-color: #677eff;
  color: #fff;
  padding: 3px 0;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
.update-status-button:hover {
  background-color: #5e6de3;
}

.order-total {
  margin-top: 10px;

  text-align: right;
}

.order-total p {
  padding-top: 3px;
}

.address-details hr {
  margin-top: 10px;
}

.order-container select {
  text-align: center;
  width: 100%;
  height: 25px;
  margin: 5px 0;
}

.top-selling-container {
  display: flex;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9c6;
  padding: 40px;
  margin: 10px auto;
  width: 80%;
  flex-direction: column;
  align-items: flex-end;
}

.top-selling-container h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}

.top-selling-container div {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.top-selling-container p {
  font-size: 15px;
  margin: 0;
  padding-bottom: 5px;
}

.top-image {
  max-width: 150px;
  max-height: 150px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.cancel-filter {
  cursor: pointer;
  margin-left: auto;
}

.orders-filter {
  display: flex;
}

.orders-filter h3 {
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
  margin-bottom: 5px;
  cursor: pointer;
}

.orders-filter h3:hover {
  color: #e44c4c;
  transform: translateY(-2px);
}

.cancel-filter2 {
  cursor: pointer;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
  margin-bottom: 5px;
}
.cancel-filter2:hover {
  color: #e44c4c;
  transform: translateY(-2px);
}
